<form #f="ngForm" (ngSubmit)="save(f)">
  <div class="row">
    <div class="col-sm-4">
      <md-select [(ngModel)]="log.type" name="type" placeholder="Type">
        <md-option value="food">Food</md-option>
        <md-option value="activity">Activity</md-option>
      </md-select>
      <br>

      <md-input-container>
        <input [(ngModel)]="log.title" name="title" type="text" required [placeholder]="titlePlaceholders[log.type]" mdInput>
        <md-error>{{titlePlaceholders[log.type]}} is required.</md-error>
      </md-input-container>
      <br>

      <md-input-container *ngIf="log.type === 'activity'">
        <textarea [(ngModel)]="log.detail" name="detail" type="text" maxlength="1000" [placeholder]="detailPlaceholders[log.type]" mdInput></textarea>
        <md-error>{{detailPlaceholders[log.type]}} is required.</md-error>
        <md-hint align="end">{{log.detail.length}} / 1000</md-hint>
      </md-input-container>
      <br *ngIf="log.type === 'activity'">

      <md-input-container>
        <input [(ngModel)]="logDate" name="date" mdInput [mdDatepicker]="date">
        <button mdSuffix [mdDatepickerToggle]="date"></button>
      </md-input-container>
      <md-datepicker #date></md-datepicker>

      <md-input-container>
        <input [(ngModel)]="log.money" name="money" type="number" placeholder="Money" mdInput>
        <span mdPrefix>$</span>
      </md-input-container>
      <br>

      <md-checkbox [(ngModel)]="log.recommend" name="recommend" checked>Recommend</md-checkbox>
      <br>

      <md-slider [(ngModel)]="log.rate" name="rate" min="1" max="10" step="1" value="10" thumbLabel></md-slider>
      <br>
    </div>
    <div class="col-sm-8">
      <div id="map"></div>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button *ngIf="!logId" md-raised-button [disabled]="!f.valid" color="accent">Add</button>
      <button *ngIf="logId" md-raised-button [disabled]="!f.valid" color="accent">Save</button>
      <a routerLink="/home" md-button>Back</a>
    </div>
  </div>
</form>
